@import '~antd/dist/antd.css';
.ant-layout-header{
    background-color: white !important;
}
.index-container{
    height: 100vh;
}
.ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu-active, .ant-menu-horizontal > .ant-menu-item-open, .ant-menu-horizontal > .ant-menu-submenu-open, .ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected{
    border-bottom:0 !important;
}
.header-item{
    display: flex;
    flex-direction: row;
}
.header-icon{
    width: 3%;
}
.header-nav{
    width: 95%;
}
