.image-size{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;

}
.image-style{
    /*border: 1px solid black;*/
    width: 120px;
    height: 200px;
    margin: 25px;
}
/*.bor{*/
/*    border: 1px solid black;*/
/*    width: 100%;*/
/*}*/
